<header class="header">
    <div class="container">
        <div class="nav--container">
        <a href="#" class="logo"><h1>Logo</h1></a>
            <nav class="nav">
                <ul class="nav--menu">
                    <li class="nav--menu__item"><a href="#">Log in</a></li>
                    <li class="nav--menu__item"><a href="{{ path('user_registration') }}">Sign up</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>